<% month_calendar.each do |calendar| %>
  <% if calendar.name_of_day == day_name %>
    <div class="link-to-day"><a href="/calendars/<%=calendar.id%>" class="link-to-day" id="day-href"><li><%= calendar.day_of_month %></li></a></div>
    <% event_presence = false %>
    <% current_user.events.each do |event| %>
      <% if event.event_date_value == calendar.date_value %>
        <% event_presence = true %>
      <% end %>
    <% end %>
    <% if event_presence == true %>
      <div class="gradient-div" id="event-presence-bar"></div>
    <% end %>
  <% end %>
<% end %>