/*-------------------------------------------------------------------*/
/* MENU ITEMS */
/*-------------------------------------------------------------------*/

.menu-items {
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: #0F0F3D;
}

#choose-date-input {
  margin-top: 21px;
  float: left;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: solid outset 0.5px;
}

#submit-button-for-choose-date {
  margin-top: 21px;
  background-color: transparent;
  border-style: none;
  float: left;
  padding: 1px 10px 1px 5px;
  font-weight: 400;
  height: 35px;
  font-size: 18px;
  color: #0F0F3D;
}

#view-menu {
  margin-top: 21px;
  float: left;
  -webkit-appearance: menulist-button;
  width: 150px;
  line-height: 30px;
  height: 35px;
  font-style: 16px;
  border: solid outset 0px;
  background-color: white;
}

#new-event-button {
  margin-top: 21px;
  text-align: center;
  float: right;
  font-weight: 400;
  font-size: 20px;
  width: 135px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #0F0F3D;
}

/*-------------------------------------------------------------------*/
/* MONTH VIEW */
/*-------------------------------------------------------------------*/

#name-of-month-for-month-view {
  color: #282828;
  font-size: 45px;
  margin-left: 47%;
  margin-right: 46%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 4%;
}


.wrapper-div {
  color: #5A5B5B;
  text-align: center;
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.month-view {
  clear: both;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.name-of-day {
  display: inline-table;
  font-size: 1.9em;
  font-weight: 300;
  padding: 1.5% 2%;
  color: black;
}

h5 {
  font-weight: 400;
  margin-top: 25px;
}

li {
  margin-top: 40px;
  margin-bottom: 0%;
  margin-right: 40px;
}

#day-name-for-week-in-month-view {
  margin-right: 40px;
}

/*-------------------------------------------------------------------*/
/* GRADIENT DIV */
/*-------------------------------------------------------------------*/

.gradient-div {
  height: 3px;
  width: 50%;
  background: #3136ce; /* Old browsers */
  background: -moz-linear-gradient(left,  #3136ce 0%, #3136ce 50%, #ff6600 51%, #ff6600 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3136ce), color-stop(50%,#3136ce), color-stop(51%,#ff6600), color-stop(100%,#ff6600)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #3136ce 0%,#3136ce 50%,#ff6600 51%,#ff6600 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #3136ce 0%,#3136ce 50%,#ff6600 51%,#ff6600 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #3136ce 0%,#3136ce 50%,#ff6600 51%,#ff6600 100%); /* IE10+ */
  background: linear-gradient(to right,  #3136ce 0%,#3136ce 50%,#ff6600 51%,#ff6600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3136ce', endColorstr='#ff6600',GradientType=1 ); /* IE6-9 */
}

/*-------------------------------------------------------------------*/
/* WEEK VIEW */
/*-------------------------------------------------------------------*/

.week-view {
  clear: both;
  color: #0F0F3D;
  font-size: 1.5em;
  margin-right: 5%;
  margin-left: 5%;
  font-weight: 300;
}

.day-of-week {
  text-align: center;
  float: left;
  width: 14.2%;
}

.week-date-value {
  font-size: 0.8em;
  font-weight: 100;
  margin-bottom: 20%;
}

.week-name-of-day {
  color: #0F0F3D;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 2.5%;
}

.week-links {
  text-decoration: none;
  color: #660033;
  font-size: 1em;
}


/*-------------------------------------------------------------------*/
/* FIVE DAY VIEW */
/*-------------------------------------------------------------------*/


.five-day-view {
  text-align: center;
  clear: both;
  color: #0F0F3D;
  margin-left: 8%;
  margin-right: 8%;
}

.day {
  margin-right: 6.3%;
  margin-left: 6.3%;
  font-size: 1.5em;
  float: left;
}


.five-day-name-of-day {
  font-weight: 300;
  margin-bottom: 3%;
  font-size: 1.5em;
  text-align: center;
}

#five-day-date-values {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
}


/*-------------------------------------------------------------------*/
/* SINGLE DAY VIEW */
/*-------------------------------------------------------------------*/

.single-day-view {
  margin-top: 10%;
  text-align: center;
  clear: both;
}

#single-day-name {
  font-weight: 300;
  font-size: 3em;
  color:  #0F0F3D;
  margin-top: 5%;
  margin-bottom: 1%;
}

#single-day-title {
  margin-top: 0px;
  font-weight: 300;
  font-size: 1.4em;
  color:  #0F0F3D;
  margin-bottom: 3.5%;
}

.day-events {
  font-size: 1.5em;
  color: #660033;
}


/*-------------------------------------------------------------------*/
/* YEAR VIEW */
/*-------------------------------------------------------------------*/
