<link rel="stylesheet" href="/css/events/event_modification.css">

<div id="separation"></div>

<div id="modify-event-div">
  <h2 class='new-event-header'>Create New Event</h2>
  <form action="/events" method="post" class='new-event' id='new-event-submission-form'>
      <p>Event Title: </p><input type="text" name="title"><br>
      <p>Event Description: </p><textarea name="description"></textarea><br>
      <p>Event Type: </p><select name="event_type">
        <option selected></option>
        <option value="Work">Work</option>
        <option value="Social">Social</option>
                  </select><br>
      <p>Event Street: </p><input type="text" name="event_street"><br>
      <p>Event City: </p><input type="text" name="event_city"><br>
      <p>Event State: </p><input type="text" name="event_state"><br>
      <p>Event Zip Code: </p><input type="text" name="event_zip_code"><br>
      <p>Event Country: </p><input type="text" name="event_country"><br>
      <p>Event Date: </p><input type="date" name="event_date_value"><br>
      <p>Event Time: </p><input type="time" name="event_time_value"><br>
    <input type="submit" value="Submit" class='event-submission' id='new-event-submission'>
  </form>
</div>
