<form action = "/sign_up" method = "POST" class="authentication" id="sign-up-form">
  <div>Enter Username Here: <br><input type="text" name="user[username]"></div><br>
  <div>Enter Password Here: <br><input type="password" name="user[password]"></div><br>
  <div>Confirm Password Here: <br><input type="password" name="user[password_confirmation]"></div><br>
  <div>Enter First Name Here: <br><input type="text" name="user[first_name]"></div><br>
  <div>Enter Last Name Here: <br><input type="text" name="user[last_name]"></div><br>
  <div>Enter Email Here: <br><input type="text" name="user[email]"></div><br>
  <div>Enter Phone Number Here: <br><input type="text" name="user[phone_number]"></div><br>
  <input type="submit" class="authentication-submission" id="sign-up-submission">
</form>
