.menu-items {
  display: none;
}

#modify-event-div {
  text-align: center;
  font-size: 1.1em;
}

#modify-event-div h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 2%;
  margin-top: 2.5%;
}

#modify-event-div p {
  margin-bottom: 0.5%;
}

#modify-event-div input[type="text"] {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
}

#modify-event-div textarea {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
}

#modify-event-div input[type="date"] {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
}

#modify-event-div select {
  -webkit-appearance: menulist-button;
  width: 200px;
  height: 35px;
  border: solid outset 0px;
  background-color: white;
}


#modify-event-div input[type="time"] {
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: 1.2em;
  text-align: center;
}

#modify-event-div input[type="submit"] {
  border-radius: 5px;
  margin-top: 0px;
  width: 135px;
  height: 50px;
  font-size: 1.3em;
  text-align: center;
  background-color: transparent;
  font-weight: 400;
  margin-top: 2.5%;
  border: solid outset;
  margin-bottom: 3%;
}