  <a href='/sign_up/new'><button class="authentication-buttons" id="sign-up">Sign Up</button></a>
  <a href='/sign_in/new'><button id="sign-in">Sign In</button></a>


  <a href='/auth/twitter'><button id="twitter-sign-in">Sign in with Twitter</button></a>

  <a href='/auth/facebook'><button id="facebook-sign-in">Sign in with Facebook</button></a>