<link rel="stylesheet" href="/css/index.css">

<h1 id="index-page-title">WEAVE</h1>
<h5 id="index-page-subtitle">Interweaving your social and productive lives...</h5>

<div id="index-page-logo"><img src="/images/logo1.png"></div>


<div id="authentication-button"><a href="" id="index-sign-in">Sign In</a> &nbsp;|&nbsp; <a href="" id="index-sign-up">Sign Up</a></div>
<!--
<a href='/sign_up/new'><button class="authentication-buttons" id="sign-up">Sign Up</button></a>
<a href='/sign_in/new'><button id="sign-in">Sign In</button></a>

<a href='/auth/twitter'><button id="twitter-sign-in">Sign in with Twitter</button></a>

<a href='/auth/facebook'><button id="facebook-sign-in">Sign in with Facebook</button></a> -->